body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom ,#7B337E,#420D4B , #210635 );
    background-size: 150% 150%;
}

h1 {
    text-align: center;
    color: #f5d5e0;
    margin: 25px;
}

/*div general de fondo blanco*/
.cuaderno {
    background-color: #ffff;
    border: 3px solid #f5d5e0;
    box-shadow: 1px -1px 5px #f5d5e0;
    padding: 10px;
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;

}

/*barra de tareas, carpetas y (usuarios)*/
.formGeneral {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    border-bottom: 2px solid #7B337E;
}

/*estilo de inputs*/
input {
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(255, 255, 255);
    color: #210635;
    font-size: 17px;
    border: 0px;
    height: 40;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
/************************************ Tareas **************************************************/
.mostrarTareas {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#formularioCrearTareas {
    width: 35%;
    height: 50%;
    
}

.agregarTareaFormulario {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.titulotareas {
    border: 2px solid #939091;
    height: 20px;
    width: 290px;
    border-radius: 10px;
}

.botonCrearT {
    border-radius: 5px;
    margin-left: 10px;
    font-size: medium;
    border :2px solid #f5d5e0;
    box-shadow: 1px -1px 5px #7B337E;
    height: 45px;
    width: 100px;
}

.botonCrearT:hover {
    height: 45px;
    width: 105px;
    border :2px solid #210635;
    box-shadow: 1px -1px 5px #210635;
}

#botones {
    border-radius: 5px;
    margin-left: 10px;
    font-size: small;
    border :2px solid #f5d5e0;
    box-shadow: 1px -1px 5px #7B337E;
    height: 35px;
    width: 90px;
}

#botones:hover {
    border :2px solid #210635;
    box-shadow: 1px -1px 5px #210635;
}

/* barra de scrolleo en listado de tareas*/
.noHay {
    display: flex;
    justify-content: center;
    color:#939091;
}

.scroll-table-tareas {
    width: 60%;
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 10px;
    border-left: 2px solid #7B337E;
    display:flex;
    justify-content: center;
}

.scroll-table table {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #543c31;
    display: inline;
}
.scroll-table table th,
td {
    padding: 10px;
    text-align: left;
    
}
.tablaTareas {
    border-collapse: collapse;
}
.tablaTareas tr{
    border-top : 1px solid black ;
}
.tablaTareas td,th {
    padding: 10px;
    margin-left: 10px;
    max-width: 270px;
    overflow-wrap: break-word;
}


/***************************** Carpetas ****************************************************/
/*div carpetas contiene */
.carpetasDiv {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 15px;
    justify-content: space-between;
}

.mostrarCarpeta {
    width: 50%;
    height: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.creaCarpeta {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-evenly;
    width: 80%;
    height: 45px;
    margin-bottom: 20px;
}

#nombreCarpeta {
    border: 2px solid #939091;
    width: 250px; 
}

#nuevaCarpeta {
    padding: 5px 10px;
    color: black;
    font-size: medium;
    border :2px solid #f5d5e0;
    border-radius: 5px;
    box-shadow: 1px -1px 5px #7B337E;
}

#nuevaCarpeta:hover {
    border :2px solid #210635;
    box-shadow: 1px -1px 5px #210635;
}
/*scrolleo de las carpetas*/
.scroll-table-carpeta {
    height: 300px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 10px;
}

.tablaCarpeta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.selectTarea {
    margin-right: 20px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.tareasEnCarpeta {
    height: fit-content;
    justify-content: flex-start;
}

/************************************* otros ***************************************************/
/* Cerrar sesión*/
a {
    margin-top: 20px;
    padding-top: 8px;
    height: 35px;
    width: 120px;
    display: flex;
    justify-content: center;
    color: #7B337E;
    border: 1px solid #7B337E;
    box-shadow: 3px -1px 5px #210635;
    border-radius: 10px;
    background-color: #210635;
}
a:hover {
    border :2px solid #f5d5e0;
    box-shadow: 3px -1px 5px #7B337E;
}

/*************************************** Usuarios **************************************************/
.tablaUsuarios {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    color: #543c31;
}
.tablaUsuarios th {
    padding: 15px;
}
.tablaUsuarios td {
    padding: 15px;
}

.popup {
  position: fixed;
  top: 20px;
  left: 80%;
  transform: translateX(-50%);
  min-width: 300px;
  padding: 15px 25px;
  border-radius: 10px;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  z-index: 1000;
  transition: opacity 0.3s ease;
}
.popup.ok { background-color: #59a169; }       /* Verde */
.popup.error { background-color: #800511; }   /* Rojo */
.popup.show { opacity: 1; }