body{
    background: linear-gradient(to top ,#420D4B , #210635 60%);
    background-size: 150% 150%;
    font-family: Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

div{
   background: linear-gradient(to bottom,#7B337E 30%,#420D4B, #210635);
    width: 380px;
    border: 1px solid;
    border-color: #210635;
    border-radius: 15px;
    box-shadow:  2px 0px 5px #420D4B,
    -2px 0px 5px #7B337E;
    display: flex;
    align-self: flex-end;
    justify-content: space-evenly;
    flex-direction: column;
    align-items:center;
    color: #f5d5e0;
}
div:hover{
    border-color: #f5d5e0;
    box-shadow:  2px 0px 5px #7B337E,
    -2px 0px 5px #7B337E;
}

h3{
    background-image: url("../imagenes/fondo3.jpg");
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    padding: 15px 0px;
    font-size: large;
}

.error{
    text-align: center;
    padding: 10px 0px;
    width: 90%;
    color: #f5d5e0;
    background-color: #210635;
    border: 2px solid #800511;
    box-shadow: 2px 0px -5px #800511;
}

.inputTexto{
    margin: 20px;
    width: 320px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

input{
    border-radius: 15px; 
    padding: 5px;
    width: 220px;
    height: 25px;
    border-color: #210635;
}

.botones {
    display: flex;
    justify-content: space-evenly;
    
}

.registarse{
    margin: 15px 15px;
    height: 45px;
    width: 120px;
    border-radius: 5px;
    padding: 8px 18px;
    cursor: pointer;
    border :2px solid #210635;
    box-shadow: 2px 0px 5px #210635;
    background-color: #420D4B;
    font-size: medium;
    color: #f5d5e0;
}

.registarse:hover{
    height: 48px;
    width: 125px;
    border :2px solid #f5d5e0;
    box-shadow: 3px -1px 5px #7B337E;
}

.btnSesion {
    height: 27px;
    width: 110px;
    font-size: medium;
    border-radius: 5px;
    padding: 8px 18px;
    cursor: pointer;
    border :2px solid #210635;
    box-shadow: 2px 0px 5px #210635;
    align-self: center;
    background-color: #420D4B;
    color: #f5d5e0;
}

.btnSesion:hover {
    width: 115px;
    text-align: center;
    border :2px solid #f5d5e0;
    box-shadow: 3px -1px 5px #7B337E;
}